<!doctype html>
<html class="no-js" manifest="manifest.appcache">
    <head>
        <!-- see https://github.com/h5bp/html5-boilerplate/issues/378 and html5-boiler-plate-prevents-x-ua-compatible -->
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta charset="utf-8">
        <title data-i18n="product.title"></title>
        <meta name="description" content="">
        <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, height=device-height" />
        <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
        <link rel="shortcut icon" type="image/png" href="favicon.ico">

        <link rel="stylesheet" href="styles/da16f32f.vendors.css">
        
        <link rel="stylesheet" href="styles/d55fcda9.main.css">
    </head>
        <!--[if lt IE 7 ]> <body class="ie6 lt-ie9"> <![endif]-->
        <!--[if IE 7 ]>    <body class="ie7 lt-ie9"> <![endif]-->
        <!--[if IE 8 ]>    <body class="ie8 lt-ie9"> <![endif]-->
        <!--[if (gte IE 9)|!(IE)]><!--> <body> <!--<![endif]-->
        <!--[if lt IE 9]>
            <div class="browsehappy alert alert-danger" data-i18n="[html]browserhappy"></div>
        <![endif]-->
        <noscript>
            <div class="noscript alert alert-danger" data-i18n="[html]noscript">It appears that your browser does not support JavaScript, or you have it disabled. Please enable Javascript.</div>
        </noscript>
        
        <script src="scripts/e66b1aa2.vendors.min.js"></script>

        <script src="scripts/d3b5814e.extra.min.js"></script>

        <script src="scripts/563c0c58.main.min.js"></script>

        <!-- {url:} -->
        <script type="text/x-jst" id="iframe-template">
            <iframe class="no-margin" src="${url}"></iframe>
        </script>

        <!-- {text:, value:, selected:} -->
        <script type="text/x-jst" id="option-template">
            <option value="${value}" <%- selected && "selected" || "" %>>${text}</option>
        </script>

        <!-- {text:, host:, url:, protocol:} -->
        <script type="text/x-jst" id="linkify-template">
            <a target="_blank" class="linkify embedify" href="${url}"> <img class="favicon" src="${protocol}${host}/favicon.ico"/> <span class="no-emojify">${text}</span> <span class="glyphicon glyphicon-share"></span></a>
        </script>

        <!-- {email:} -->
        <!-- see https://en.gravatar.com/site/implement/images/ https://developers.facebook.com/docs/reference/api/ https://developers.google.com/+/api/latest/people/get -->
        <script type="text/x-jst" id="avatar-template">
            <img class="media-object" data-src="${email}"
                <% if (email.match(/@(google)|(gmail)/)) { %>
                    src="https://s2.googleusercontent.com/s2/photos/profile/<%- email.replace(/@.*/,'') %>?sz=24"
                <% } else if (email.match(/@(facebook)/)) { %>
                    src="https://graph.facebook.com/<%- email.replace(/@.*/,'') %>/picture?type=small"
                <% } else if (window.Hashes) { %>
                    src="http://www.gravatar.com/avatar/<%- (new Hashes.MD5).hex(email) %>?s=24&d=mm&r=pg"
                <% } %>
            >
        </script>

        <!-- {theme:} -->
        <script type="text/x-jst" id="theme-template">
            <link rel="stylesheet" data-href="${theme}"
                <% if (theme.match(/@bootstrapcdn/)) { %>
                    href="//netdna.bootstrapcdn.com/bootswatch/latest/<%- theme.replace(/@.*/,'') %>/bootstrap.min.css"
                <% } else if (theme.match(/@localhost/)) { %>
                    href="styles/<%- theme.replace(/@.*/,'') %>.css"
                <% }%>
            >
        </script>

        <!-- data={msg_type:, event:, time:, callkey:, dnis:, latestdnis:, callstate:, ?agent_id:,? ?parties:?, ?from:?, ?data:?, ?localecho:?, options, ...} -->
        <script type="text/x-jst" id="notify-template" data-template-options="{&quot;variable&quot;: &quot;data&quot;}">
            <% _.extend(data, {
                    i18n_key: 'notify.' + data.msg_type + '.' + (data.event || '') + (data.event == 33 ? ('.' + (data.agent_id && data.callstate || '0')) : ''), 
                    i18n_time: moment(data.time, moment.RFC_822).locale(moment.parse_locale).format('LT'), 
                    party_list: data.parties && data.parties.join(', ') || '', align: data.agent_id && 'left' || 'right', agent_id:data.agent_id || ''
                }) %>
            <% if (i18n.t(data.i18n_key) != data.i18n_key) {
                if (data.msg_type == 10 && data.event == 33) { %>
                    <div class="media <%- (data.localecho && 'msg-localecho' || '') %>" data-localechoerror="-2">
                        <a class="msg-media pull-<%- data.align %> hidden-print" href="#">
                            <!-- avatar-template here -->
                        </a>
                        <div class="media-body">
                            <dt class="media-heading text-<%- data.align %> msg-info msg-timestamp" data-time="<%= data.time %>" data-agent-id="<%= data.agent_id %>">
                                <%= i18n.t(data.i18n_key, data) %>
                            </dt>
                            <dd class="msg-data text-<%- data.align %> well well-sm"><%= data.data %></dd>
                        </div>
                    </div>
                <% } else {
                    if (!data.localecho) { %>
                        <div class="msg-timestamp alert alert-info <%- 'animated' in data.options && 'animated '+ data.options.animated || '' %>" data-time="<%= data.time %>" data-msg_type="<%= data.msg_type %>">
                            <span><%= i18n.t(data.i18n_key, data) %></span>
                        </div>
                    <% }
                }
            } %>
        </script>

        <!-- data={error(EL_ERROR@EL_Types.h):, ?level:alert-success|alert-info|alert-warning|alert-danger?, ?data:?, ?fadeoutError:?} -->
        <script type="text/x-jst" id="error-template" data-template-options="{&quot;variable&quot;: &quot;data&quot;}">
            <div class="alert alert-inline <%- data.fadeoutError == 0 && 'alert-dismissable' || '' %> <%- data.level || 'alert-warning' %>">
                <% if (data.fadeoutError == 0) { %>
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                <% } %>
                <span title="<%- data.data %>"><%= i18n.t('error.' + data.error) %></span>
            </div>
        </script>

        <!-- data={dnis:, dnisstate:, ?dnisname:? } -->
        <script type="text/x-jst" id="roster-template" data-template-options="{&quot;variable&quot;: &quot;data&quot;}">
            <span class="dnis-state <%- i18n.t('dnisstate.class.' + data.dnisstate) %>" title="<%- i18n.t('dnisstate.title.' + data.dnisstate) %>" data-dnisstate="<%- data.dnisstate %>">
            </span>
            <span class="dnis-name" data-dnisname="<%- data.dnisname %>">
                <%= i18n.t('dnisname.html', data) %>
            </span>
        </script>

        <!-- data={dnis:[...], data:, number, } -->
        <script type="text/x-jst" data-template-options="{&quot;variable&quot;: &quot;data&quot;}" id="main-template">
            <% if ('dnis' in data) { %>
                <div class="container call-container hidden">
                    <h1 data-i18n="call.title"></h1>
                    <ul class="nav nav-tabs">
                        <% _.each(data.dnis, function(n, i) { %>
                            <li>
                                <a class="msg-unread-reset" href="#tab<%= i %>" data-toggle="tab" data-reset=".msg-unread[data-dnis='<%= n %>']">
                                    <span class="call-roster animated" data-animation="flash" data-animation-ends="2000" data-dnis="<%= n %>">
                                        <!-- roster-template here --><%- n %>
                                    </span>
                                    <span class="badge msg-unread" data-dnis="<%= n %>"></span>
                                    <button class="hangup-call hidden-print <%- i18n.t('call.hangup.class')%>" type="button" data-dnis="<%= n %>" data-target=".call-control[data-dnis='<%= n %>']" data-i18n="[title]call.hangup.title;[html]call.hangup.html;">
                                    </button>
                                </a>
                            </li>
                        <% }); %>
                    </ul>
                    <div class="tab-content">
                        <% _.each(data.dnis, function(n, i) { %>
                            <div class="tab-pane fade call-control" id="tab<%= i %>" data-dnis="<%= n %>" data-latestdnis="" data-callkey="">
                                <form class="call-form">
                                    <legend></legend>
                                    <div class="form-group has-feedback <%- i18n.t('call.number.groupclass')%>">
                                        <label for="number" data-i18n="call.number.label"></label>
                                        <div class="input-group">
                                            <span class="input-group-addon"><span data-i18n="[class]call.number.class;"></span></span>
                                            <input name="number" class="form-control" data-i18n="[html5-type]call.number.type;[placeholder]call.number.placeholder;[pattern]call.number.pattern;[maxlength]call.number.maxlength;[data-errormessage]call.number.errormessage;[title]call.number.title;" 
                                                value="<%- data.number || 'user@mail.com' %>" autofocus required <%= data.readonly && 'readonly' %> />
                                            <span class="form-control-feedback"></span>
                                         </div>
                                    </div>
                                    <div class="form-group has-feedback <%- i18n.t('call.data.groupclass')%>">
                                        <label for="number" data-i18n="call.data.label"></label>
                                        <div class="input-group">
                                            <span class="input-group-addon"><span data-i18n="[class]call.data.class;"></span></span>
                                            <input name="data" class="form-control" data-i18n="[html5-type]call.data.type;[placeholder]call.data.placeholder;[pattern]call.data.pattern;[maxlength]call.data.maxlength;[data-errormessage]call.data.errormessage;[title]call.data.title;" 
                                                value="<%- data.data || '' %>" <%= data.readonly && 'readonly' %>/>
                                            <span class="form-control-feedback"></span>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <input name="remoteinstance" type="checkbox" class="form-control hidden" <%= data.remoteinstance && 'checked' %> />
                                        <button class="make-call <%- i18n.t('call.call.class')%>" type="button" data-target=".call-control[data-dnis='<%= n %>']" data-dnis="<%= n %>" data-i18n="[title]call.call.title;[html]call.call.html;"></button>
                                    </div>
                                </form>
                                <form class="dialog-control">
                                    <dl class="fixed-left full-width msg-history">
                                        <!-- message-template here -->
                                    </dl>
                                    <div class="fixed-bottom full-width input-group">
                                        <textarea name="msg" class="no-resize msg-input input-block-level form-control" data-i18n="[placeholder]call.input.placeholder;"
                                            data-target=".call-control[data-dnis='<%= n %>']" data-from=".call-form [name=number]" autofocus required></textarea>
                                        <span class="input-group-btn"><button class="msg-send <%- i18n.t('call.send.class')%>" data-target=".call-control[data-dnis='<%= n %>']" type="button" data-i18n="[html]call.send.html;[title]call.send.title"></button></span>
                                    </div>
                                </form>
                            </div>
                        <% }); %>
                    </div>
                </div>
            <% } else { %>
                <div class="container">
                    <div class="jumbotron">
                        <h1 data-i18n="product.title"></h1>
                        <h3 class="muted" data-i18n="product.badge.title"></h3>
                        <p class="lead" data-i18n="product.badge.description"></p>
                    </div>
                    <div class="row">
                        <div class="col-md-8" id="embed-sample" data-template-name="#iframe-template"></div>
                        <div class="col-md-4">
                            <form class="form-horizontal">
                                <div class="form-group">
                                    <label for="embed" data-i18n="settings.embed.title"></label>
                                    <div class="input-group">
                                        <div class="input-group-btn"><button type="button" class="btn btn-default" id="settings-fieldset-toggler" data-toggle="collapse" data-target="#settings-fieldset">
                                            <span class="glyphicon glyphicon-list"></span>
                                        </button></div>
                                        <input type="url" id="url-copy" class="form-control select-on-click full-width" readonly pattern="https?://.+"/>
                                        <a class="input-group-addon btn-default" id="url-link" target="_blank">
                                            <span class="glyphicon glyphicon-share"></span>
                                        </a>
                                        <div class="input-group-btn"><button type="button" class="btn btn-default" rel="popover" id="url-qrcode-btn" data-container="body" data-trigger="click" data-html="true" data-placement="bottom" data-i18n="[data-title]settings.qrcode;" data-content="<div id='url-qrcode'></div>">
                                            <span class="glyphicon glyphicon-qrcode"></span>
                                        </button></div>
                                    </div>
                                    <span class="help-block" data-i18n="settings.embed.description"></span>
                                </div>
                                <fieldset id="settings-fieldset">
                                    <legend></legend>
                                    <div class="form-group">
                                        <label data-target="#dnis" data-i18n="settings.dnis.title"></label>
                                        <div class="">
                                            <select name="dnis" id="dnis" multiple="multiple" rows="1" class="selectpicker" data-size="4" data-i18n="[title]settings.dnis.title;" required>
                                                <% _.each(['4001@mail.com', '4002@mail.com', '4003@mail.com', '4004@mail.com', '4005@mail.com'], function(n,i) { %>
                                                    <option value="<%- n %>" <%- i==0 && 'selected' || '' %>><%- n %></option>
                                                <% }); %>
                                            </select>
                                            <div class="btn-group">
                                                <a href="#" data-toggle="tooltip" class="opt-add" data-target="#dnis" data-template-name="#option-template"><span class="glyphicon glyphicon-plus"></span></a>
                                                <a href="#" data-toggle="tooltip" class="opt-remove" data-target="#dnis"><span class="glyphicon glyphicon-minus"></span></a>
                                            </div>
                                        </div>
                                        <span class="help-block" data-i18n="settings.dnis.description"></span>
                                    </div>
                                    <div class="form-group">
                                        <label for="lang"><a target="_blank" data-i18n="[href]settings.language.url;settings.language.title"></a></label>
                                        <div class="">
                                            <select name="lang" rows="1" class="selectpicker" data-size="8">
                                                <option value="" data-i18n="settings.default"></option>
                                                <% _.each(i18n.pluralExtensions.rules, function(rule, index) { index = index.replace(/_/,"-"); %>
                                                    <option value="<%= index %>" <%= data["lang"] === index && "selected" %>><%= rule.name %> (<%= index %>)</option>
                                                <% }); %>
                                            </select>
                                        </div>
                                        <span class="help-block" data-i18n="[html]settings.language.description" data-i18n-options="{&quot;language&quot;: &quot;<%= i18n.detectLanguage() %>&quot;, &quot;fallback&quot;: &quot;en&quot;}"></span>
                                    </div>
                                    <% _.each([ 
                                            {'name':'persistent'},{'name':'avatar','checked':true},{'name':'emojify','checked':true},{'name':'linkify','checked':true},
                                            {'name':'embedify','title':$.fn.oembed && _.map($.fn.oembed.providers, function(provider) {return provider.name; }).sort().join(', ')}
                                        ], function(field, index) { %>
                                        <div class="form-group">
                                            <label for="<%- field.name %>"><a target="_blank" data-i18n="[href]settings.<%- field.name %>.url;settings.<%- field.name %>.title" data-toggle="tooltip" title="<%- field.title %>"></a></label>
                                            <div class="">
                                                <input type="checkbox" name="<%- field.name %>" <%= field.checked && "checked" %> class="make-switch switch-small" data-animated="false" data-on-text="<span class='glyphicon glyphicon-ok'></span>" data-off-text="<span class='glyphicon glyphicon-remove'></span>"/>
                                                <span class="help-block" data-i18n="[html]settings.<%- field.name %>.description"></span>
                                            </div>
                                        </div>
                                    <% }); %>                                    
                                    <div class="form-group">
                                        <label for="theme"><a target="_blank" data-i18n="[href]settings.theme.url;settings.theme.title"></a></label>
                                        <div class="">
                                            <select name="theme" rows="1" class="selectpicker" data-size="4">
                                                <option value="" data-i18n="settings.default"></option>
                                                 <% $.getJSON("http://api.bootswatch.com/3/?callback=?").done(function(data) {
                                                            var tmpl = _.template($("#option-template").html()), $target = $("[name=theme]"); 
                                                            $.each(data.themes||[], function(i, row) {
                                                                $target.append(tmpl({"value": row.name+"@bootstrapcdn", "text": row.name, "selected": false}));
                                                            });
                                                            if ($.fn.selectpicker && $target.data("selectpicker")) $target.data("selectpicker").refresh();
                                                        });
                                                 %>
                                            </select>
                                        </div>
                                        <span class="help-block" data-i18n="[html]settings.theme.description">></span>
                                    </div>
                                </fieldset>
                            </form>
                        </div>
                    </div>
                    <div class="text-center">
                        <p>&copy; <%= new Date().getFullYear() %> :: <a target="_blank" data-i18n="[href]company.url;[title]company.text;company.title"></a></p>
                    </div>
                </div>
            <% }; %>
        </script>
        <!-- endjst-->

</body>
</html>
